<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ne pas rediriger si le fichier ou le répertoire existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les autres requêtes vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
